.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

#nav ul {
  display: flex;
  gap: 60px;
}

#nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: 0.3s ease-out;
}

#nav a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
  }

  .header img {
    width: 80px;
    height: 80px;
  }
}
