.history {
  display: grid;
  gap: 60px;
}

.history > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.history img {
  height: 280px;
  width: 510px;
}

.list {
  display: grid;
  align-content: space-between;
}

.list p {
  width: 40ch;
}

@media (max-width: 900px) {
  .history img {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .history > div {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
